<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="format" value="[%-5level] %date %-15logger{15} - %m%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${format}</pattern>
        </encoder>
    </appender>

<!--    <logger name="org.springframework.data.redis" level="debug" />-->
<!--    <logger name="io.lettuce.core.RedisClient" level="debug" />-->
<!--    <logger name="io.lettuce.core.protocol.CommandHandler" level="debug" />-->

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
